*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Mypo;
    src: url(gallery/poppins/Poppins-BlackItalic.ttf);
}
body{
    width: 100%;
    height: 100hv;
    background-image:url(gallery/pexel-photo.jpg);
    background-size: cover;
    background-repeat: repeat;
    
}
#img-logo {
  position: absolute;
  margin-left: 30px;
  margin-top: 1px;
  border-radius: 50%;
  cursor: pointer;
}
.navigation{
    background-color: #eef0f0da;
    position: absolute;
  left:60%;
}
.navigation, .btns{
   cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin: 18px;
    float: right;
   align-items: right;
  margin-top: 1rem;
    color: #fff;
    display: flex;
 text-align: right;
}
#content{
    position: absolute;
    width: 400px;
    top: 40%;
    left: 4%;
    top: 35%;
  
}
h1{
     font-size: 34px;
     font-family:Mypo;
     text-shadow: 1px 1px 3px  #ff0000;
     color: #fff;
     margin-bottom: 15px;
}

p{
    color: hwb(24 95% 1%);
    margin-bottom: 8px;
    font-weight: bold;
}
.nbtn{
    position: relative;
    padding: 10px;
    font-weight: bolder;
    font-size: 19px;
    margin: 10px;
    border-radius: 35rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.137);
    color:#fff;
    border: #fff 1px solid;
    height: 50px;
    cursor: pointer;
    
}
#img-whatapp{
    position: fixed;
   bottom: 5%;
    right: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 60%;
}
.nbtn:hover{
    padding: 10px;
    margin: 10px;
    border-radius: 35rem;
    width: 10rem;
    background-color: rgba(141, 84, 141, 0.699);
    color:#fff;
    height: 50px;
    font-size: larger;
    text-shadow: 5px 2px 3px black;
    
}
.navigation, .btns:hover{
   text-decoration: underline rgb(180, 15, 153) 3px;
   background-color: transparent;
   border: none;
   font-weight: bold;
   font-size: 16px;
   margin: 18px;
   float: right;
 margin-top: 1rem;
   color: #fff;
  
    
}
h1:hover{
    font-size: 35px;
    color: rgb(228, 243, 20);
}
#img-logo:hover {
    position: absolute;
    margin-left: 30px;
    margin-top: 1px;
    border-radius: 50%;
    transform: scale(1.1) rotate(360deg);

  }
